version: '3.7'

x-default:
  &default-odoo
  tty: true
  build: .
  depends_on:
    - db
    - wdb
  ports:
    - "8069:8069"
    - "8072:8072"
  volumes:
    - odoo-web-data:/var/lib/odoo
    - ./config:/etc/odoo
    # - ../vendor/pos-addons:/mnt/addons/pos-addons
    - ../vendor/sync-addons:/mnt/addons/sync-addons
    # - ../vendor/mail-addons:/mnt/addons/mail-addons
    # - ../vendor/access-addons:/mnt/addons/access-addons
    # - ../vendor/website-addons:/mnt/addons/website-addons
    # - ../vendor/enterprise/12.0:/mnt/addons/enterprise
    # - ../vendor/misc-addons:/mnt/addons/misc-addons
    - ../vendor/queue:/mnt/addons/queue
    # - ../vendor/odoo_vik_main:/mnt/addons/odoo_vik_main
#    - ../ee-addons-store:/mnt/addons/ee-dep-addons
#    - ../odoo12/odoo/addons:/mnt/addons/custom-addons
    # - ../odoo/addons/hw_proxy:/usr/lib/python3/dist-packages/odoo/addons/hw_proxy/
    # - ../odoo/addons/hw_escpos:/usr/lib/python3/dist-packages/odoo/addons/hw_escpos/
#    - ../odoo12/odoo/odoo/modules:/usr/lib/python3/dist-packages/odoo/modules
#    - ../odoo12/odoo/odoo/fields.py:/usr/lib/python3/dist-packages/odoo/fields.py
  environment:
    - WDB_SOCKET_SERVER=wdb
    - WDB_NO_BROWSER_AUTO_OPEN=True

services:
  odoo:
    << : *default-odoo
    # TODO: unify parameter passing for different cases to avoid making different branches
    # '--db-filter=^%d$$' в этой записи если не экранировать $, то вызовет ошибку
    command: ['-d', 'woo',
              '--init', 'sync_woo', # pos_receipt_custom_template pos_invoice_postponed
              '--db-filter=.*',
              '--workers=2',
              # '--without-demo=all',
              # '--test-enable',
              '--load=base,web,queue_job',
    ] # '--load=openapi,base,web', pos_product_available_negative
  db:
    image: postgres:10
    logging:
      driver: none
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
  wdb:
    image: kozea/wdb:3.3.0
    ports: ['1984:1984']
    init: true
  nginx:
    image: nginx
    logging:
      driver: none
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports: ["8014:80"]
    depends_on:
      - odoo
  woo_db:
    image: mysql:5.7
    volumes:
        - woo_db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  woo:
    image: wordpress:latest
    depends_on:
      - woo_db
    ports:
      - 80:80
    environment:
      WORDPRESS_DB_HOST: woo_db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
    volumes:
      - woo:/var/www/html/wp-content

  woo_ssl:
    image: foxylion/nginx-self-signed-https
    environment:
      REMOTE_URL: http://woo:80

volumes:
  odoo-web-data:
  odoo-db-data:
  woo:
  woo_db:
