version: '3.4'

x-default:
  &default-odoo
  tty: true
  build: .
  depends_on:
    - db
    - wdb
  ports:
    - "8069:8069"
    - "8072:8072"
  volumes:
    - odoo-web-data:/var/lib/odoo
    - ./config:/etc/odoo
    - ../vendor/sync-addons:/mnt/addons/sync-addons
  #  - ../odoo13/odoo/odoo/fields.py:/usr/lib/python3/dist-packages/odoo/fields.py

  environment:
#    - HOST=odoo
#    - USER=odoo
#    - PASSWORD=odoo
    - WDB_SOCKET_SERVER=wdb
    - WDB_NO_BROWSER_AUTO_OPEN=True

services:
  odoo:
    << : *default-odoo
    # TODO: unify parameter passing for different cases to avoid making different branches
    # '--db-filter=^%d$$' в этой записи если не экранировать $, то вызовет ошибку
    command: ['-d', 'openapi', '--init', 'openapi',  '--db-filter=.*', '--workers=3', '--load=openapi,base,web',]
  db:
    image: postgres:10
    logging:
      driver: none
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
  wdb:
    image: kozea/wdb:3.3.0
    ports: ['1984:1984']
  nginx:
    image: nginx
    logging:
      driver: none
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports: ["80:80"]
    depends_on:
      - odoo

volumes:
  odoo-web-data:
  odoo-db-data:
