version: '3.4'

x-default:
  &default-odoo
  tty: true
  build: .
  depends_on:
    - db
    - wdb
  ports:
    - "8069:8069"
    - "8072:8072"
  volumes:
    - odoo-web-data:/var/lib/odoo
    - ./config:/etc/odoo
    - ../mail-addons:/mnt/addons/mail-addons
#    - ../odoo12/odoo/addons:/mnt/addons/custom-addons
#    - ../odoo12/odoo/odoo/addons/base:/usr/lib/python3/dist-packages/odoo/addons/base
#    - ../odoo12/odoo/odoo/modules:/usr/lib/python3/dist-packages/odoo/modules
#    - ../odoo12/odoo/odoo/fields.py:/usr/lib/python3/dist-packages/odoo/fields.py

  environment:
    - WDB_SOCKET_SERVER=wdb
    - WDB_NO_BROWSER_AUTO_OPEN=True
#    - ODOO_QUEUE_JOB_HOST=saas.127.0.0.1.nip.io

services:
  dev:
    <<: *default-odoo
    command: ['--db-filter=.*']

  web:
    << : *default-odoo
    # TODO: unify parameter passing for different cases to avoid making different branches
    # '--db-filter=^%d$$' в этой записи если не экранировать $, то вызовет ошибку
    command: ['-d', 'mail', '--init', 'mail_private', '--db-filter=.*', '--workers=2',]
#'--log-handler=odoo.models:DEBUG',
#'--log-handler=odoo.addons.base.models.ir_cron:DEBUG',
#'--log-handler=odoo.modules.registry:DEBUG',
#'--log-handler=odoo.fields:DEBUG',
#'--log-handler=odoo.modules.loading:DEBUG',
#'--log-handler=odoo.addons.queue_job:DEBUG',
  db:
    image: postgres:10
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
  wdb:
    image: kozea/wdb:3.3.0
    ports: ['1984:1984']

volumes:
  odoo-web-data:
  odoo-db-data:
