version: '3.4'

x-default:
  &default-odoo
  tty: true
  build: .
  depends_on:
    - db
    - wdb
  ports:
    - "8069:8069"
    - "8072:8072"
  volumes:
    - odoo-web-data:/var/lib/odoo
    - ./config:/etc/odoo
    - ../mail-addons:/mnt/addons/mail-addons
    - ../misc-addons:/mnt/addons/misc-addons
  #  - ../odoo13/odoo/odoo/fields.py:/usr/lib/python3/dist-packages/odoo/fields.py

  environment:
    - WDB_SOCKET_SERVER=wdb
    - WDB_NO_BROWSER_AUTO_OPEN=True

services:
  dev:
    <<: *default-odoo
    command: ['-d', 'mail', '--init', 'email_headers', '--db-filter=.*', '--test-enable', '--workers=0']

  web:
    << : *default-odoo
    # TODO: unify parameter passing for different cases to avoid making different branches
    # '--db-filter=^%d$$' в этой записи если не экранировать $, то вызовет ошибку
    command: ['-d', 'mail', '--init', 'email_headers', '--db-filter=.*', '--workers=0',
    ]
#'--log-handler=odoo.addons.base.models.ir_module:DEBUG',
#'--log-handler=odoo.modules.module:DEBUG',
#'--log-handler=odoo.models:DEBUG',
#'--log-handler=odoo.addons.base.models.ir_cron:DEBUG',
#'--log-handler=odoo.modules.registry:DEBUG',
#'--log-handler=odoo.fields:DEBUG',
#'--log-handler=odoo.modules.loading:DEBUG',
#'--log-handler=odoo.addons.queue_job:DEBUG',
  db:
    image: postgres:10
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
  wdb:
    image: kozea/wdb:3.3.0
    ports: ['1984:1984']

volumes:
  odoo-web-data:
  odoo-db-data:
