version: '3.7'

x-default:
  &default-odoo
  tty: true
  build: .
  depends_on:
    - db
    - wdb
  ports:
    - "8069:8069"
    - "8072:8072"
  volumes:
    - odoo-web-data:/var/lib/odoo
    - ./config:/etc/odoo
#    - ../pos-addons:/mnt/addons/pos-addons
    - ../vendor/misc-addons:/mnt/addons/misc-addons
  #    - ../odoo12/odoo/addons:/mnt/addons/custom-addons
#    - ../odoo12/odoo/odoo/addons/base:/usr/lib/python3/dist-packages/odoo/addons/base
#    - ../odoo12/odoo/odoo/modules:/usr/lib/python3/dist-packages/odoo/modules
#    - ../odoo12/odoo/odoo/fields.py:/usr/lib/python3/dist-packages/odoo/fields.py
  environment:
    - WDB_SOCKET_SERVER=wdb
    - WDB_NO_BROWSER_AUTO_OPEN=True

services:
  odoo:
    << : *default-odoo
    # TODO: unify parameter passing for different cases to avoid making different branches
    # '--db-filter=^%d$$' в этой записи если не экранировать $, то вызовет ошибку
    command: ['-d', 'misc', '--init', 'mail_multi_website',  '--db-filter=.*', '--workers=3', ] # '--load=openapi,base,web', '--without-demo=all'
  db:
    image: postgres:10
    logging:
      driver: none
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
  wdb:
    image: kozea/wdb:3.3.0
    ports: ['1984:1984']
    init: true
  nginx:
    image: nginx
    logging:
      driver: none
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports: ["80:80"]
    depends_on:
      - odoo

volumes:
  odoo-web-data:
  odoo-db-data:
